body{
    background-color: #141414;
    height: fit-content;
   
}

.projects-card{
    position: relative;
    display: flex;
    flex-direction: column; /* Stack children vertically */
    align-items: center; /* Center children horizontally */
    margin: auto;
    width: 90%;
    height: 92vh;
    background-color: #E4E4E4;
    border-radius: 7px;
    margin-top: 3%;
   
}
hr {
    border: none; /* Remove default border */

    width: 90%;
}
.horizontal-line-large {
   
    border-top: 25px solid #141414; /* Only show the top border */
    margin-top: 3%;
}

.horizontal-line-smal {
   
    border-top: 1px solid #141414; /* Only show the top border */
    margin-top: 1%;
}
.header-container {
   
    display: flex;
    justify-content: space-between;
    width: 90%; /* Match the width of the horizontal line */
    padding: 0 1rem; /* Adjust padding as necessary */
    margin-top: 1%;
    
}
/* project info and slider images */
.project-container-grid {
  display: grid;
  grid-template-columns: 45% auto ;
  gap: 1px;
  padding: 10px;
  margin-top: 1%;
  width: 100%;
  height: 80vh;
  

}


.image-container {
    
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 columns */
    gap: 10px;
    height: 75vh;
    overflow: hidden;
    padding: 15px 0 0 10px;
    
  }
  
  .image-wrapper {
    display: flex;
  flex-direction: column;
  gap: 10px;
  }
  
  /* Different animation durations for varying speeds */
.image-wrapper.columns-1.has-images {
    animation: scrollImages1 15s linear infinite;
  }
  
  .image-wrapper.columns-2.has-images {
    animation: scrollImages1 20s linear infinite;
  }
  
  .image-wrapper.columns-3.has-images  {
    animation: scrollImages1 10s linear infinite;
  }
  
  /* Keyframes for each column */
  @keyframes scrollImages1 {
    0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-50%); }
  }
  
 
  /* Ensure images fill their cells and maintain aspect ratio */
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Cover the area of the cell without stretching */
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    
  }
  
  
/*left side - project description */
.project-info {
    border-right: 1px solid black;
    display: grid;
    position: relative;
    grid-template-columns: 10% 90%; /* 10% for the vertical text and 90% for the description */
    gap: 1px;
    align-items: start; /* Align items to the start of the container */
    height: 100%; /* Make sure it takes the full height of its container */
  }
  
  .vertical-text-container {
    position: absolute;
    grid-column: 1; /* Place in the first column */
   left: -2%;
    height: 75vh;
    
  }
  
  .vertical-text {
    white-space: nowrap;
    font-weight: bolder;
    font-size: xxx-large;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    align-self: end; /* Align to the bottom of the column */
    height: 100%;
  
  }
  
  .description-block {
    grid-column: 2; /* Place in the second column */
    overflow-y: scroll;
    height: 80vh;
  }

