@font-face {
    font-family: "Rubik";
    src: url("/fonts/Rubik/static/Rubik-Regular.ttf");
}

:root {
    --main-bg: #000000;
    --card-border-radius: 0.75rem;
    --card-bg: #171A1E;

    --scrollbar-accent: #2f343a;

    --text-color: #E4E4E4;

    --accent: rgba(0, 182, 133, 0.6);
    --tertiary: rgba(176, 38, 38, 0.6);

    scrollbar-face-color: var(--scrollbar-accent);
	scrollbar-base-color: var(--scrollbar-accent);
	scrollbar-3dlight-color: var(--scrollbar-accent);
	scrollbar-highlight-color: var(--scrollbar-accent);
	scrollbar-track-color: var(--scrollbar-accent);
	scrollbar-arrow-color: var(--scrollbar-accent);
	scrollbar-shadow-color: var(--scrollbar-accent);
  }
  
  ::-webkit-scrollbar { width: 0.7rem; height: 3px;}
  ::-webkit-scrollbar-button {  background-color: var(--scrollbar-accent); }
  ::-webkit-scrollbar-track {  background-color: var(--scrollbar-accent);}
  ::-webkit-scrollbar-track-piece { background-color: var(--main-bg);}
  ::-webkit-scrollbar-thumb { height: 4rem; background-color: var(--scrollbar-accent); border-radius: 3px;}
  ::-webkit-scrollbar-corner { background-color: var(--scrollbar-accent);}
  ::-webkit-resizer { background-color: var(--scrollbar-accent);}

body{
    height: fit-content;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lastica', sans-serif;
}

h1 {
    font-size: 4rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

h3 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}
