
body{
    background-color: var(--main-bg);
    height: fit-content;
    margin: 0;
    padding: 0;
    color: var(--text-color)
}

h1, h2, h3, h4, h5, h6, p {
    color: #E4E4E4;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    filter: brightness(80%);
}

.sr-skip-link {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		margin: 1px;
		opacity: 0;
		z-index: 999;
}
