
body{
    background-color: var(--main-bg);
    height: fit-content;
    margin: 0;
    padding: 0;
    color: var(--text-color)
}

h1, h2, h3, h4, h5, h6, p {
    color: #E4E4E4;
}

a {
    color: var(--text-color);
    text-decoration: underline;
}

a:hover {
    filter: brightness(80%);
}

.sr-skip-link {
		position: absolute;
		top: 0;
		left: 0;
		margin: 0;
		padding: 0;
		width: 1px;
		height: 1px;
		margin: 1px;
		opacity: 0;
		z-index: 999;
}

.tubelight{
    color:#E4E4E4;
    -webkit-box-reflect: below 1px linear-gradient(tansparent, #0008);
    line-height: 0.70em;
    -webkit-transform: scaleY(-1); 
     -moz-transform: scaleY(-1); 
     -ms-transform: scaleY(-1); 
     -o-transform: scaleY(-1); 
     transform: scaleY(-1); 
     filter: flipv; 
     opacity:0.80; 
     filter: alpha(opacity='80');
     animation: animate 3s linear infinite;
}

@keyframes animate {
    0%, 18%, 20%, 50.1%, 65.1%, 80%, 90.1%, 92%{
        columns: #E4E4E4;
        text-shadow: none;
    }
    18.1%, 20.1%, 30%, 50%, 60.1%, 80.1%, 90%, 92.1%, 100%{
        color: #fff;
        text-shadow: 0 0 10px #E4E4E4,
        0 0 20px #E4E4E4,
        0 0 40px #E4E4E4,
        0 0 80px #E4E4E4,
        0 0 160px #E4E4E4;

    }
    
}
.glow {
    text-shadow: 0 0 0px #E4E4E4, 0 0 0px #E4E4E4, 0 0 5px #E4E4E4, 0 0 20px #E4E4E4;
  }

  .vertical-lines-container {
    position: relative;
    width: 100%;
    height: 100%;
  }
  
  .vertical-line {
    position: absolute;
    top: 0; /* Start at the bottom of the container */
    width: 1px; /* Thin line */
    height: 100%; /* Full height of the container */
    background-color: white; /* Line color */
    animation: glow 2s infinite alternate;
    z-index: 5;
  }
  
  /* Randomly place each line using inline styles in the HTML*/
  .vertical-line:nth-child(1) { 
    left: 2%;
    background-color: rgba(255, 255, 255, 0.8);
    height: 200%;
}
  .vertical-line:nth-child(2) {
     left: 25%; 
     height: 250%;
     background-color: rgba(255, 255, 255, 18%); 
    }
    .vertical-line:nth-child(3) {
        left: 28%; 
        height: 700%;
        background-color: rgba(255, 255, 255, 18%); 
       }
       .vertical-line:nth-child(4) {
        left: 29%; 
        height: 120%;
        background-color: rgba(255, 255, 255, 18%); 
       }
  .vertical-line:nth-child(5) { 
    left: 98%; 
    background-color: rgba(255, 255, 255, 0.8);
}
 
.vertical-lines-container-2 {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden; /* Prevents lines from going outside the bounds */
  }
  
  .vertical-line-2 {
    position: absolute;
  
    width: 1px; /* Thin line */
    height: 300%; /* Full height of the container */
    background-color: rgba(255, 255, 255, 0.8);
    animation: glow 2s infinite alternate;
    z-index: 5;
    left: 2%;
    
  }

  .vertical-line-2:nth-of-type(2) {
    height: 700%;
  }

  .vertical-line-2:nth-child(2) { 
    left: 98%; 
    background-color: rgba(255, 255, 255, 0.8);
} 

.header-card {
    display: flex;
    padding: 1px;
    margin: auto;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 6rem;
    background-color: var(--card-bg);
    border-radius: var(--card-border-radius);

    margin-bottom: 15px;    
}

.header-card .card-content {
    background-color: #000000;
    width: 60%;
    height: 80%;
    display: flex;
    align-items: center;
    padding: 1rem;
}

header {
    display: flex;
    align-items: center;
    padding: 2rem 5vw;
    width: 100%;
    font-family: 'Lastica', sans-serif;
    text-transform: uppercase;
    font-size: 2rem;
    position: relative;
}

header nav {
    margin-left: auto;
}

header nav ul {
    display: flex;
    gap: 3rem;
    
}

header nav li {
    list-style: none;
}

.nav-link {
    text-decoration: none;

    --shadow-color: rgb(200, 200, 200);
    --shadow-distance: 1;
    text-shadow: -2px 0 var(--shadow-color), 0 2px var(--shadow-color), 2px 0 var(--shadow-color), 0 -2px var(--shadow-color);
    font-size: 1.4rem;
    font-family: 'Lastica', sans-serif;
    text-transform: uppercase;
    
    font-weight: 700;
    color: black;

    transition: filter 0.2s ease;
}

.brand-link {
    font-size: 1.6rem;
}

.brand-link svg {
    width: 8rem;
    height: 4rem;
}

.banner-card {
    display: flex;
    padding: 1px;
    justify-content: center;
   
    margin: auto;
    width: 90%;
    min-height: 75vh;
    background-color: var(--card-bg);

    border-radius: var(--card-border-radius);
    position: relative; /* Add this if not already positioned */
}

.banner-card .content-card {
    position: relative; /* for the absolute position of the children */
    background-color: #000000;
    display: grid;
    grid-template-columns: 50% 50%;
    border-style: solid;
    width: 90%;
    height: 80%;
    min-height: 65vh;
    margin-top: 5vh;
    rotate: 2deg;
}

.banner-card .content-card .title{
    color:#E4E4E4;
    
    font-size: 4rem;
    
  
    white-space: nowrap; /* Prevent text from wrapping */
    font-family: 'Lastica', sans-serif;
    rotate: 2deg;
    margin-top: 10%;
    text-align: center;
   
}


.banner-card .content-card .title-prefix {
    display: none;
}

.banner-card .content-card-2 {
    padding-top: 5vh;
}

.banner-card .content-card-2 .highlight-link {
    /* 1 pixel black shadow to left, top, right and bottom */
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Lastica', sans-serif;
    text-transform: uppercase;;
    
    font-weight: 700;
    padding-top: 10%;
    rotate: 2deg;
    color: black;

    display: block;
    text-decoration: none;
    transition: filter 0.2s ease;
}

.banner-card .content-card-2 .btn{
    height: 10vh;
    width: 10vh;
    right: 2%;
    top: 80%;
    
    background-color: rgb(85, 85, 85);
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    text-align: center;
    color:#E8E8E8 ;
    opacity: 0.8;
    border: solid #E8E8E8;
}

.banner-card .content-card .line-container {
     perspective: 500px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden; /* Hide the overflow if the lines go outside the container*/
    padding-top: 10%;
    padding-right: 5%;
    rotate: 2deg;
    transform-style: preserve-3d;
    justify-items: center;
    
}

.line {
    background-color: white; /* This should be background-color, not color */
    width: 2px;
    transition: max-height 0.15s ease-out;
    margin: 0 2px;
    
    transform-origin: bottom; /* Transform from the bottom */
    transform: translateZ(0); /* Initialize 3D transform */
}

.line:hover {
    background-color: red;
    transition: max-height 0.25s ease-in;
  }
  


.banner-card .content-card .circle-images {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    margin-top: 3%;
}

.banner-card .content-card .circle-images .main-circle{
    width: 13vw;
    height: auto;
    display: block;
    position: absolute;
    top: 51%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    animation: autofocus 8s infinite;    
}


@keyframes autofocus {
    0%, 100% {
      filter: blur(0px);
    }
    50% {
      filter: blur(1px);
    }
  }

.banner-card .content-card .circle-images .circle {
    position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform-origin: center;
    z-index: 2;
}

.circle1 {
    width: 14vw;
    height: 14vw;
    
    border: 4px dotted #E8E8E8; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 10s linear infinite;
}
  
.circle2 {
    width: 15vw;
    height: 15vw;
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 12s linear infinite;
    border: 4px dotted #525D52; 
    animation: spin 12s linear infinite;
  
}

.circle3 {
    width: 16vw;
    height: 16vw;
  
    border: 4px dotted #E8E8E8; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 15s linear infinite;
}

.circle4 {
    width: 16vw;
    height: 16vw;

    border: 4px dotted #525D52; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 16s linear infinite;
}

.circle5 {
    width: 18vw;
    height: 18vw;

    border: 4px dotted #E8E8E8; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 16.5s linear infinite;
}

.circle6 {
    width: 19vw;
    height: 19vw;

    border: 4px dotted #525D52; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 17s linear infinite;
}

.circle7 {
    width: 19vw;
    height: 19vw;

    border: 4px dotted #E8E8E8; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 17.5s linear infinite;
}

.circle8 {
    width: 20vw;
    height: 20vw;

    border: 4px dotted #525D52; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 18s linear infinite;
}

.circle9 {
    width: 22vw;
    height: 22vw;

    border: 4px dotted #E8E8E8; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 18.3s linear infinite;
}
  
.circle10 {
    width: 24vw;
    height: 24vw;

    border: 5px dotted #525D52; 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 18.5s linear infinite;
}

.circle11 {
    width: 27vw;
    height: 27vw;

    border: 6px dotted rgb(232,	232,	232, .7); 
    transform: translate(-50%, -50%) rotate(0deg);
    animation: spin 18.8s linear infinite;
   
}
  
  @keyframes spin { 
    100% { 
        transform: translate(-50%, -50%) rotateZ(360deg); 
    }
  }


  
@media (max-width: 762px) {
    header {
        flex-direction: column;
        padding: 1rem 5vw;
    }

    header nav {
        margin-left: unset;
    }

    .nav-link {
        text-shadow: -2px 0 var(--shadow-color), 0 2px var(--shadow-color), 2px 0 var(--shadow-color), 0 -2px var(--shadow-color);
    }

    .banner-dots-container .dot {
        scale: 1;
    }

    .banner-dots-container .dot:nth-child(2n) {
        display: none;
    }

    .banner-dots-container .dot:nth-child(3n) {
        display: none;
    }

    .header-card {
        height: 15vh;
    }
    .header-card .card-content {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
    }
    .header-card .header-title { 
        display: none;
    }

    .header-card .sub-title {
        transform: translate(0);
        margin-bottom: 0.5rem;
    }

    .banner-card {
        margin-bottom: 20vh;
    }
    .banner-card .content-card {
        grid-template-columns: 1fr;
    }

    .banner-card .content-card .title {
        font-size: 2.5rem;
    }
    .banner-card .content-card-2 {
        width: 80vw;
    }

    .banner-card .content-card .line-container {
        display: none;
    }

    .banner-card .content-card .circle-images {
        position: absolute;
        z-index: -1;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 15vh;
    }

    .banner-card .content-card .circle-images .main-circle {
        width: 25vw;
    }

    .banner-card .content-card-2 .btn {
        display: none;
    }

    .banner-card .content-card-2 .highlight-link {
        font-size: 1.4rem;
        margin-top: 30vh;
    }

    .banner-card .content-card .circle-images .circle {
        position: absolute;
    }
    .circle1 {
        width: 30vw;
        height: 30vw;
    }
    
    .circle2 {
        width: 32vw;
        height: 32vw;
    }

    .circle3 {
        width: 34vw;
        height: 34vw;
    }

    .circle4 {
        width: 36vw;
        height: 36vw;
    }

    .circle5 {
        width: 38vw;
        height: 38vw;
    }

    .circle6 {
        width: 39vw;
        height: 39vw;
    }

    .circle7 {
        width: 39vw;
        height: 39vw;
    }

    .circle8 {
        width: 40vw;
        height: 40vw;
    }

    .circle9 {
        width: 42vw;
        height: 42vw;
    }
    
    .circle10 {
        width: 44vw;
        height: 44vw;
    }

    .circle11 {
        width: 47vw;
        height: 47vw;
    }
}
/* background dots */
@keyframes fadeEffect {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}

.dot {
    position: absolute;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0.6); /* Starting color and opacity */
    /* Sizes and exact positions will be set by JavaScript */
  }

/* psuedo lines */

.banner-card::before {
    content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background: rgba(0, 0, 0, .5);
    top: 50%;
    left: 40%;
    margin-left: -3px;  
}

.btn::before {
    content: '';
    position: absolute;
    width: 4px;
    height: 100%;
    background: black;
    top: 110%;
    left: 30%;
    margin-left: -3px;  
}
