---

import ProjectPage from '../../layouts/ProjectPage.astro';

import Five1 from '../../img/5_1.png'
import Five2 from '../../img/5_2.png'
import Five3 from '../../img/5_3.png'
import Five4 from '../../img/5_4.png'
import Five5 from '../../img/5_5.png'
import Five6 from '../../img/5_6.png'
import Five7 from '../../img/5_7.png'
import Five8 from '../../img/5_8.png'


const project = {
    title: "5.5",
    type: "Wearable device, Audio Installation",
    videos: [
        {
            url: "https://player.vimeo.com/video/504789015?autoplay=1&muted=1&loop=1&autopause=0&playsinline=1"
        }
    ],
    images: [Five1, Five2, Five3, Five4, Five5, Five6, Five7, Five8], 
    artist: "Çağdaş Çeçen",
    description: `5.5 transforms artificial light into sound. When viewers put on the
                headset and headphones, they hear a mixture of electromagnetic
                disturbances caused by the artificial light sources in the room. 5.5
                invites you to an ambient synaesthetic experience. The apparatus
                becomes an artificial sensory organ: follow the white noise, let your
                ears guide you, and experience the space anews`,
    links: [
        {
            type: "Video",
            url: "https://vimeo.com/504789015"
        }
    ]
};
---

<ProjectPage 
    title={`Çağdaş Çeçen - ${project.title}`} 
    description={project.description} 
    project={project}
>
    <p>
        5.5 transforms artificial light into sound. When viewers put on the
        headset and headphones, they hear a mixture of electromagnetic
        disturbances caused by the artificial light sources in the room. 5.5
        invites you to an ambient synaesthetic experience. The apparatus
        becomes an artificial sensory organ: follow the white noise, let your
        ears guide you, and experience the space anews
    </p>
</ProjectPage>
