---

import ProjectPage from '../../layouts/ProjectPage.astro';

import Ghostbox1 from '../../img/ghostbox1.png'
import Ghostbox2 from '../../img/ghostbox2.png'
import Ghostbox3 from '../../img/ghostbox3.png'
import Ghostbox4 from '../../img/ghostbox4.png'
import Ghostbox5 from '../../img/ghostbox5.png'
import Ghostbox6 from '../../img/ghostbox6.png'


const project = {
    title: "Ghostbox",
    type: "Interactive Sound Installation",
    videos: [
        {
            url: "https://player.vimeo.com/video/708170162?autoplay=1&muted=1&loop=1&autopause=0&playsinline=1"
        },
        {
            url: "https://player.vimeo.com/video/708169950?autoplay=1&muted=1&loop=1&playsinline=1&autopause=0"
        }
    ],
    images: [Ghostbox1, Ghostbox2, Ghostbox3, Ghostbox4, Ghostbox5, Ghostbox6], 
    artist: "Çağdaş Çeçen",
    verticaltext: "Ghostbox",
    description: `Ghostbox is an immersive audio-visual installation that explores the 
    "Observer Effect" through interactive engagement with audio-modulated laser beams in
     a dark space. Equipped with light-sensitive wrist devices, visitors navigate a
      complex, patterned landscape created by ten unique laser modules, transforming light
       into sound through movement. This interactive experience reveals the dynamic interplay 
       between observer and observed, making abstract scientific concepts 
       perceptible and engaging.
    `,
    links: [
        {
            type: "Video",
            url: "https://vimeo.com/708169950"
        }
    ]
};

---

<ProjectPage 
    title="Çağdaş Çeçen" 
    description={project.description}
    project={project}
>
<p>
    Ghostbox is an audio-visual experience set within a specially constructed environment, 
    designed to explore the "Observer Effect" in the tangible world. The installation unfolds 
    in a darkened space, where ten continuously powered, audio-modulated red laser modules 
    fill the area. Despite these lasers being physically identical, the audio content they
     convey is distinct, creating a complex, intertwined audiovisual landscape that presents 
     a patterned structure. This structure, while seemingly uniform, discloses its synthesized 
     essence when interacted with.
</p>

<p>
    Visitors, equipped with light-sensitive devices on their wrists, navigate this soundscape 
    by moving through the space, engaging with the linear patterns of laser beams. These wrist-mounted
    devices capture the modulated laser light, converting it into sound that is 
    then played through speakers, allowing the laser beams to be heard within the environment.
</p>

</ProjectPage>
