---
import ProjectPage from '../../layouts/ProjectPage.astro';


const images = await Astro.glob(`../../img/limbo/*`).then(files => {
    return files.map(file => file.default);
});

const project = {
    title: "Limbo",
    type: "Reactive Video-Installation Vertical display, Camera, mini-computer, custom face recognition algorithm",
    videos: [],
    images: images, 
    artist: "Çağdaş Çeçen",
    verticaltext: "Limbo",
    description: `Replacing a specific space close to the stairs between two floors with a
                reactive interface will allow the participants to reach a story which will be
                decided by their appearance. When the observer watches the screen, it
                triggers a private story, which is trapped in time and space.`,
    links: []
};
---

<ProjectPage 
    title={`Çağdaş Çeçen - ${project.title}`} 
    description={project.description}
    project={project}    
>
    <p>
        Replacing a specific space close to the stairs between two floors with a
        reactive interface will allow the participants to reach a story which will be
        decided by their appearance. When the observer watches the screen, it
        triggers a private story, which is trapped in time and space.
    </p>
     
</ProjectPage>
