---
import ProjectPage from '../../layouts/ProjectPage.astro';

const images = await Astro.glob(`../../img/moneyment/*`).then(files => {
    return files.map(file => file.default);
});


const project = {
    title: "Moneyment",
    type: "Mixed-Media Installation, POS Device, Display, Striped bills",
    videos: [],
    images: images, 
    artist: "Çağdaş Çeçen",
    verticaltext: "Moneyment",
    description: `Money needs people, and people need money - an almost perfect circle.
                If you like, every human action finds its place in the value chain, and every
                move is profitable.
                Moneyment is dedicated to all those who do not play this game.`,
    links: []
};

---

<ProjectPage 
    title={`Çağdaş Çeçen - ${project.title}`} 
    description={project.description}
    project={project} 
>
    <p>
        Money needs people, and people need money - an almost perfect circle.
        If you like, every human action finds its place in the value chain, and every
        move is profitable.
        Moneyment is dedicated to all those who do not play this game.
    </p>

</ProjectPage>
