---
import ProjectPage from '../../layouts/ProjectPage.astro';

import Moneyment1 from '../../img/moneyment1.png'
import Moneyment2 from '../../img/moneyment2.png'
import Moneyment3 from '../../img/moneyment3.png'
import Moneyment4 from '../../img/moneyment4.png'


const project = {
    title: "Moneyment",
    type: "Mixed-Media Installation (Video and object) POS Device (Card reader), Display, Striped bills",
    videos: [],
    images: [Moneyment1, Moneyment2, Moneyment3, Moneyment4], 
    artist: "Çağdaş Çeçen",
    verticaltext: "Moneyment",
    description: `Money needs people, and people need money - an almost perfect circle.
                If you like, every human action finds its place in the value chain, and every
                move is profitable.
                Moneyment is dedicated to all those who do not play this game.`,
    links: []
};

---

<ProjectPage 
    title={`Çağdaş Çeçen - ${project.title}`} 
    description={project.description}
    project={project} 
>
    <p>
        Money needs people, and people need money - an almost perfect circle.
        If you like, every human action finds its place in the value chain, and every
        move is profitable.
        Moneyment is dedicated to all those who do not play this game.
    </p>

</ProjectPage>
