---
import ProjectPage from '../../layouts/ProjectPage.astro';

const images = await Astro.glob(`../../img/two-faces/*`).then(files => {
    return files.map(file => file.default);
});

const project = {
    title: "Two Faces",
    type: "Video Installation",
    videos: [],
    images: images, 
    artist: "Çağdaş Çeçen",
    verticaltext: "Two Faces",
    description: `"Palimpsest" is an artistic audio walk through "Ankerbrotfabrik" 
    and its history. Once the largest bakery in Europe, it is now leaving Vienna
     after 130 years. What remains behind? What can a place tell? Who remembers what,
      and what seems to have been completely forgotten? We make our research walkable
       and invite you to come along: A daughter who tries to decipher her 
       secretive mother. A son who struggles with the ghost of his father. Together, 
       we follow their verses and accompany them every step of the way in their search for 
       traces through time. Along the way, we listen to people remembering. 
       "Two Faces" is one of the eight artistic stations; we experience how layer after 
       layer is removed to see what is hidden behind it.
    .`,
    links: [
        {
            type: "Das LOT: Project-Page",
            url: "https://www.lot.wien/artwalk"
        },
        {
            type: "Press Release",
            url: "https://www.ots.at/presseaussendung/OTS_20230516_OTS0053/artwalk-palimpsest-einkuenstlerischer-hoerspaziergang-durch-die-brotfabrik-bild"
        },
        {
            type: "Article in MeinBezirk Newspaper",
            url: "https://www.meinbezirk.at/favoriten/c-lokales/historischer-hoerspaziergang-durch-die-brotfabrik_a6052668"
        }
    ]
};

---

<ProjectPage 
    title={`Çağdaş Çeçen - ${project.title}`} 
    description={project.description} 
    project={project}
>
    <p>
        "Palimpsest" is an artistic audio walk through "Ankerbrotfabrik" 
        and its history. Once the largest bakery in Europe, it is now leaving Vienna
        after 130 years. What remains behind? What can a place tell? Who remembers what,
        and what seems to have been completely forgotten? 
    </p>
    <p>
        We make our research walkable
        and invite you to come along: A daughter who tries to decipher her 
        secretive mother. A son who struggles with the ghost of his father. Together, 
        we follow their verses and accompany them every step of the way in their search for 
        traces through time. Along the way, we listen to people remembering. 
    </p>
    <p>
        "Two Faces" is one of the eight artistic stations; we experience how layer after 
        layer is removed to see what is hidden behind it.
    </p>

</ProjectPage>
