---

import ProjectPage from '../../layouts/ProjectPage.astro';

import {videoTypes} from '../../const.js'

import Virtual1 from '../../img/virtual1.png'
import Virtual2 from '../../img/virtual2.png'
import Virtual3 from '../../img/virtual3.png'
import Virtual4 from '../../img/virtual4.png'

const project = {
    title: "Visual Isolation",
    type: "Wearable device, interactive Installation",
    videos: [
        {
            src: "https://player.vimeo.com/video/429057286?autoplay=1&muted=1&loop=1&autopause=0&playsinline=1",
            type: videoTypes.external
        }
    ],
    images: [Virtual1, Virtual2, Virtual3, Virtual4], 
    artist: "Çağdaş Çeçen",
    verticaltext: "Visual Isolation",
    description: `Visual Isolation is a wearable interactive object with a display which
                demonstrates real-time vital readings and memories.
                Our lives are all about numbers and graphs for quite a while. Society tries to
                adopt new relation between our survival and our social interactions during
                isolation times and we still don't know what future will bring on us.
                Although human memory is highly depending on our social interactions, we
                as individuals are stuck between fear and losing social abilities.
                “Is surviving alone enough to stay human, what is left without memories
                with others ? “ - this was the question that lead me to develop this
                project`,
    links: [
        {
            type: "Video",
            url: "https://vimeo.com/429057286"
        }
    ]
};

---

<ProjectPage 
    title={`Çağdaş Çeçen - ${project.title}`} 
    description={project.description}
    project={project} 
>
    <p>
        Visual Isolation is a wearable interactive object equipped with a display that shows
         real-time vital readings and memories. Our lives have been dominated by numbers and
          graphs for quite some time. Society is attempting to navigate a new relationship 
          between our survival and our social interactions during periods of isolation, yet
           the future remains uncertain. Despite human memory being deeply dependent on our 
           social interactions, we find ourselves caught between fear and the loss of social 
           abilities. "Is surviving alone enough to stay human, and what remains without shared 
           memories?" - this question inspired the development of this project.
    </p>

</ProjectPage>
